accelerate==1.12.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
argcomplete==3.6.3
attrs==25.4.0
av==12.1.0
babel==2.18.0
boto==2.49.0
cachetools==5.5.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
crcmod==1.7
cryptography==43.0.3
dateparser==1.1.8
diffusers==0.33.1
docopt==0.6.2
dropbox==12.0.2
einops==0.8.1
fastapi==0.124.0
fasteners==0.20
ffmpy==1.0.0
filelock==3.20.0
frozenlist==1.8.0
fsspec==2025.12.0
gcs-oauth2-boto-plugin==3.3
google-apitools==0.5.35
google-auth==2.39.0
google-auth-httplib2==0.2.1
google-reauth==0.1.1
gradio==5.23.0
gradio_client==1.8.0
groovy==0.1.2
gruut==2.4.0
gruut-ipa==0.13.0
gruut_lang_en==2.0.1
gsutil==5.35
h11==0.16.0
httpcore==1.0.9
httplib2==0.20.4
httpx==0.28.1
huggingface-hub==0.36.0
idna==3.11
importlib_metadata==8.7.0
Jinja2==3.1.6
jsonlines==1.2.0
lightning-utilities==0.15.2
llvmlite==0.46.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
monotonic==1.6
more-itertools==10.8.0
mpmath==1.3.0
multidict==6.7.0
networkx==3.6.1
num2words==0.5.14
numba==0.63.1
numpy==1.26.4
oauth2client==4.1.3
openai-whisper==20250625
opencv-contrib-python==4.11.0.86
orjson==3.11.5
packaging==25.0
pandas==2.3.3
peft @ git+https://github.com/huggingface/peft.git@7d4c9fd71071eeeb438e6f21cfac9480f552c816
pillow==11.1.0
ply==3.11
propcache==0.4.1
psutil==7.1.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydub==0.25.1
Pygments==2.19.2
pyOpenSSL==24.2.1
pyparsing==3.2.5
python-crfsuite==0.9.12
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytorch-lightning==1.9.5
pytz==2025.2
pyu2f==0.1.5
PyYAML==6.0.3
regex==2025.11.3
requests==2.32.5
retry_decorator==1.1.1
rich==14.2.0
rsa==4.7.2
ruff==0.14.8
safehttpx==0.1.7
safetensors==0.7.0
scipy==1.12.0
semantic-version==2.10.0
sentencepiece==0.2.0
shellingham==1.5.4
six==1.17.0
starlette==0.50.0
stone==3.3.1
sympy==1.14.0
# Editable install with no version control (taming-transformers==0.0.1)
-e i:\stable-diffusion-webui\repositories\taming-transformers
tiktoken==0.12.0
tokenizers==0.20.3
tomlkit==0.13.3
torch==2.9.1
torchmetrics==1.8.2
torchsde==0.2.6
tqdm==4.67.1
trampoline==0.1.2
transformers==4.45.0
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.6.1
uvicorn==0.38.0
websockets==15.0.1
yarl==1.22.0
zipp==3.23.0
